<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debbie's TBR List</title>
</head>
<body>

    <h3>It's a <%= kindOfDay %>!</h3>
    <p>Why are you not at work?</p>
    
</body>
</html>